In [3]:
import pandas as pd

orders = pd.read_csv('/orders.csv')

In [4]:
users = pd.read_json("/users.json")

In [38]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("restaurants_clean.db")
cursor = conn.cursor()

In [34]:
sql_script = """
CREATE TABLE restaurants (
restaurant_id INT,
restaurant_name TEXT,
cuisine TEXT,
rating FLOAT);

INSERT INTO restaurants VALUES (1, 'Restaurant_1', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (2, 'Restaurant_2', 'Indian', 4.1);
INSERT INTO restaurants VALUES (3, 'Restaurant_3', 'Mexican', 4.3);
INSERT INTO restaurants VALUES (4, 'Restaurant_4', 'Chinese', 4.1);
INSERT INTO restaurants VALUES (5, 'Restaurant_5', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (6, 'Restaurant_6', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (7, 'Restaurant_7', 'Italian', 3.2);
INSERT INTO restaurants VALUES (8, 'Restaurant_8', 'Indian', 4.8);
INSERT INTO restaurants VALUES (9, 'Restaurant_9', 'Italian', 3.1);
INSERT INTO restaurants VALUES (10, 'Restaurant_10', 'Chinese', 3.4);
INSERT INTO restaurants VALUES (11, 'Restaurant_11', 'Chinese', 4.9);
INSERT INTO restaurants VALUES (12, 'Restaurant_12', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (13, 'Restaurant_13', 'Indian', 4.6);
INSERT INTO restaurants VALUES (14, 'Restaurant_14', 'Indian', 3.8);
INSERT INTO restaurants VALUES (15, 'Restaurant_15', 'Chinese', 4.6);
INSERT INTO restaurants VALUES (16, 'Restaurant_16', 'Indian', 4.6);
INSERT INTO restaurants VALUES (17, 'Restaurant_17', 'Indian', 4.6);
INSERT INTO restaurants VALUES (18, 'Restaurant_18', 'Italian', 4.5);
INSERT INTO restaurants VALUES (19, 'Restaurant_19', 'Indian', 3.6);
INSERT INTO restaurants VALUES (20, 'Restaurant_20', 'Indian', 3.7);
INSERT INTO restaurants VALUES (21, 'Restaurant_21', 'Indian', 3.5);
INSERT INTO restaurants VALUES (22, 'Restaurant_22', 'Chinese', 5.0);
INSERT INTO restaurants VALUES (23, 'Restaurant_23', 'Chinese', 3.8);
INSERT INTO restaurants VALUES (24, 'Restaurant_24', 'Mexican', 3.7);
INSERT INTO restaurants VALUES (25, 'Restaurant_25', 'Chinese', 3.7);
INSERT INTO restaurants VALUES (26, 'Restaurant_26', 'Chinese', 4.6);
INSERT INTO restaurants VALUES (27, 'Restaurant_27', 'Italian', 4.4);
INSERT INTO restaurants VALUES (28, 'Restaurant_28', 'Chinese', 3.6);
INSERT INTO restaurants VALUES (29, 'Restaurant_29', 'Italian', 3.0);
INSERT INTO restaurants VALUES (30, 'Restaurant_30', 'Mexican', 4.6);
INSERT INTO restaurants VALUES (31, 'Restaurant_31', 'Mexican', 4.7);
INSERT INTO restaurants VALUES (32, 'Restaurant_32', 'Italian', 3.2);
INSERT INTO restaurants VALUES (33, 'Restaurant_33', 'Italian', 4.2);
INSERT INTO restaurants VALUES (34, 'Restaurant_34', 'Chinese', 4.3);
INSERT INTO restaurants VALUES (35, 'Restaurant_35', 'Chinese', 3.9);
INSERT INTO restaurants VALUES (36, 'Restaurant_36', 'Italian', 3.5);
INSERT INTO restaurants VALUES (37, 'Restaurant_37', 'Mexican', 3.1);
INSERT INTO restaurants VALUES (38, 'Restaurant_38', 'Italian', 5.0);
INSERT INTO restaurants VALUES (39, 'Restaurant_39', 'Indian', 4.8);
INSERT INTO restaurants VALUES (40, 'Restaurant_40', 'Indian', 4.6);
INSERT INTO restaurants VALUES (41, 'Restaurant_41', 'Mexican', 3.7);
INSERT INTO restaurants VALUES (42, 'Restaurant_42', 'Chinese', 3.2);
INSERT INTO restaurants VALUES (43, 'Restaurant_43', 'Chinese', 4.9);
INSERT INTO restaurants VALUES (44, 'Restaurant_44', 'Indian', 3.9);
INSERT INTO restaurants VALUES (45, 'Restaurant_45', 'Mexican', 3.0);
INSERT INTO restaurants VALUES (46, 'Restaurant_46', 'Chinese', 3.6);
INSERT INTO restaurants VALUES (47, 'Restaurant_47', 'Indian', 3.4);
INSERT INTO restaurants VALUES (48, 'Restaurant_48', 'Mexican', 3.8);
INSERT INTO restaurants VALUES (49, 'Restaurant_49', 'Italian', 4.0);
INSERT INTO restaurants VALUES (50, 'Restaurant_50', 'Mexican', 4.8);
INSERT INTO restaurants VALUES (51, 'Restaurant_51', 'Italian', 3.0);
INSERT INTO restaurants VALUES (52, 'Restaurant_52', 'Mexican', 4.9);
INSERT INTO restaurants VALUES (53, 'Restaurant_53', 'Indian', 4.5);
INSERT INTO restaurants VALUES (54, 'Restaurant_54', 'Italian', 4.9);
INSERT INTO restaurants VALUES (55, 'Restaurant_55', 'Indian', 3.5);
INSERT INTO restaurants VALUES (56, 'Restaurant_56', 'Italian', 3.2);
INSERT INTO restaurants VALUES (57, 'Restaurant_57', 'Mexican', 4.4);
INSERT INTO restaurants VALUES (58, 'Restaurant_58', 'Indian', 4.4);
INSERT INTO restaurants VALUES (59, 'Restaurant_59', 'Chinese', 4.6);
INSERT INTO restaurants VALUES (60, 'Restaurant_60', 'Mexican', 3.6);
INSERT INTO restaurants VALUES (61, 'Restaurant_61', 'Italian', 4.4);
INSERT INTO restaurants VALUES (62, 'Restaurant_62', 'Indian', 3.1);
INSERT INTO restaurants VALUES (63, 'Restaurant_63', 'Italian', 5.0);
INSERT INTO restaurants VALUES (64, 'Restaurant_64', 'Chinese', 4.5);
INSERT INTO restaurants VALUES (65, 'Restaurant_65', 'Mexican', 3.2);
INSERT INTO restaurants VALUES (66, 'Restaurant_66', 'Italian', 4.7);
INSERT INTO restaurants VALUES (67, 'Restaurant_67', 'Mexican', 4.1);
INSERT INTO restaurants VALUES (68, 'Restaurant_68', 'Italian', 4.1);
INSERT INTO restaurants VALUES (69, 'Restaurant_69', 'Chinese', 4.9);
INSERT INTO restaurants VALUES (70, 'Restaurant_70', 'Chinese', 4.7);
INSERT INTO restaurants VALUES (71, 'Restaurant_71', 'Indian', 3.7);
INSERT INTO restaurants VALUES (72, 'Restaurant_72', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (73, 'Restaurant_73', 'Mexican', 3.1);
INSERT INTO restaurants VALUES (74, 'Restaurant_74', 'Chinese', 4.3);
INSERT INTO restaurants VALUES (75, 'Restaurant_75', 'Chinese', 4.2);
INSERT INTO restaurants VALUES (76, 'Restaurant_76', 'Italian', 4.7);
INSERT INTO restaurants VALUES (77, 'Restaurant_77', 'Mexican', 4.4);
INSERT INTO restaurants VALUES (78, 'Restaurant_78', 'Indian', 3.5);
INSERT INTO restaurants VALUES (79, 'Restaurant_79', 'Mexican', 4.9);
INSERT INTO restaurants VALUES (80, 'Restaurant_80', 'Italian', 3.9);
INSERT INTO restaurants VALUES (81, 'Restaurant_81', 'Chinese', 3.2);
INSERT INTO restaurants VALUES (82, 'Restaurant_82', 'Chinese', 3.3);
INSERT INTO restaurants VALUES (83, 'Restaurant_83', 'Chinese', 3.5);
INSERT INTO restaurants VALUES (84, 'Restaurant_84', 'Chinese', 3.2);
INSERT INTO restaurants VALUES (85, 'Restaurant_85', 'Mexican', 4.4);
INSERT INTO restaurants VALUES (86, 'Restaurant_86', 'Indian', 4.2);
INSERT INTO restaurants VALUES (87, 'Restaurant_87', 'Mexican', 3.8);
INSERT INTO restaurants VALUES (88, 'Restaurant_88', 'Indian', 4.8);
INSERT INTO restaurants VALUES (89, 'Restaurant_89', 'Indian', 4.3);
INSERT INTO restaurants VALUES (90, 'Restaurant_90', 'Italian', 4.8);
INSERT INTO restaurants VALUES (91, 'Restaurant_91', 'Italian', 4.8);
INSERT INTO restaurants VALUES (92, 'Restaurant_92', 'Mexican', 4.9);
INSERT INTO restaurants VALUES (93, 'Restaurant_93', 'Chinese', 4.9);
INSERT INTO restaurants VALUES (94, 'Restaurant_94', 'Chinese', 4.5);
INSERT INTO restaurants VALUES (95, 'Restaurant_95', 'Indian', 3.7);
INSERT INTO restaurants VALUES (96, 'Restaurant_96', 'Mexican', 4.4);
INSERT INTO restaurants VALUES (97, 'Restaurant_97', 'Mexican', 3.7);
INSERT INTO restaurants VALUES (98, 'Restaurant_98', 'Indian', 4.0);
INSERT INTO restaurants VALUES (99, 'Restaurant_99', 'Italian', 4.0);
INSERT INTO restaurants VALUES (100, 'Restaurant_100', 'Indian', 3.3);
INSERT INTO restaurants VALUES (101, 'Restaurant_101', 'Mexican', 3.9);
INSERT INTO restaurants VALUES (102, 'Restaurant_102', 'Italian', 4.9);
INSERT INTO restaurants VALUES (103, 'Restaurant_103', 'Mexican', 4.9);
INSERT INTO restaurants VALUES (104, 'Restaurant_104', 'Chinese', 4.9);
INSERT INTO restaurants VALUES (105, 'Restaurant_105', 'Mexican', 4.2);
INSERT INTO restaurants VALUES (106, 'Restaurant_106', 'Indian', 4.8);
INSERT INTO restaurants VALUES (107, 'Restaurant_107', 'Mexican', 4.0);
INSERT INTO restaurants VALUES (108, 'Restaurant_108', 'Chinese', 4.0);
INSERT INTO restaurants VALUES (109, 'Restaurant_109', 'Chinese', 5.0);
INSERT INTO restaurants VALUES (110, 'Restaurant_110', 'Mexican', 4.2);
INSERT INTO restaurants VALUES (111, 'Restaurant_111', 'Mexican', 4.2);
INSERT INTO restaurants VALUES (112, 'Restaurant_112', 'Chinese', 3.2);
INSERT INTO restaurants VALUES (113, 'Restaurant_113', 'Chinese', 5.0);
INSERT INTO restaurants VALUES (114, 'Restaurant_114', 'Indian', 3.9);
INSERT INTO restaurants VALUES (115, 'Restaurant_115', 'Chinese', 3.3);
INSERT INTO restaurants VALUES (116, 'Restaurant_116', 'Chinese', 4.2);
INSERT INTO restaurants VALUES (117, 'Restaurant_117', 'Indian', 3.9);
INSERT INTO restaurants VALUES (118, 'Restaurant_118', 'Mexican', 3.8);
INSERT INTO restaurants VALUES (119, 'Restaurant_119', 'Chinese', 3.7);
INSERT INTO restaurants VALUES (120, 'Restaurant_120', 'Italian', 3.2);
INSERT INTO restaurants VALUES (121, 'Restaurant_121', 'Indian', 4.1);
INSERT INTO restaurants VALUES (122, 'Restaurant_122', 'Indian', 3.9);
INSERT INTO restaurants VALUES (123, 'Restaurant_123', 'Chinese', 4.2);
INSERT INTO restaurants VALUES (124, 'Restaurant_124', 'Mexican', 3.5);
INSERT INTO restaurants VALUES (125, 'Restaurant_125', 'Chinese', 4.3);
INSERT INTO restaurants VALUES (126, 'Restaurant_126', 'Italian', 4.5);
INSERT INTO restaurants VALUES (127, 'Restaurant_127', 'Chinese', 5.0);
INSERT INTO restaurants VALUES (128, 'Restaurant_128', 'Indian', 4.5);
INSERT INTO restaurants VALUES (129, 'Restaurant_129', 'Indian', 4.1);
INSERT INTO restaurants VALUES (130, 'Restaurant_130', 'Indian', 4.6);
INSERT INTO restaurants VALUES (131, 'Restaurant_131', 'Italian', 3.4);
INSERT INTO restaurants VALUES (132, 'Restaurant_132', 'Indian', 3.7);
INSERT INTO restaurants VALUES (133, 'Restaurant_133', 'Italian', 4.5);
INSERT INTO restaurants VALUES (134, 'Restaurant_134', 'Mexican', 4.3);
INSERT INTO restaurants VALUES (135, 'Restaurant_135', 'Indian', 3.7);
INSERT INTO restaurants VALUES (136, 'Restaurant_136', 'Indian', 3.6);
INSERT INTO restaurants VALUES (137, 'Restaurant_137', 'Indian', 3.2);
INSERT INTO restaurants VALUES (138, 'Restaurant_138', 'Indian', 4.8);
INSERT INTO restaurants VALUES (139, 'Restaurant_139', 'Mexican', 4.8);
INSERT INTO restaurants VALUES (140, 'Restaurant_140', 'Italian', 3.3);
INSERT INTO restaurants VALUES (141, 'Restaurant_141', 'Mexican', 3.3);
INSERT INTO restaurants VALUES (142, 'Restaurant_142', 'Indian', 4.6);
INSERT INTO restaurants VALUES (143, 'Restaurant_143', 'Chinese', 4.0);
INSERT INTO restaurants VALUES (144, 'Restaurant_144', 'Chinese', 4.5);
INSERT INTO restaurants VALUES (145, 'Restaurant_145', 'Italian', 3.1);
INSERT INTO restaurants VALUES (146, 'Restaurant_146', 'Indian', 4.8);
INSERT INTO restaurants VALUES (147, 'Restaurant_147', 'Italian', 3.2);
INSERT INTO restaurants VALUES (148, 'Restaurant_148', 'Italian', 3.2);
INSERT INTO restaurants VALUES (149, 'Restaurant_149', 'Mexican', 3.6);
INSERT INTO restaurants VALUES (150, 'Restaurant_150', 'Indian', 4.2);
INSERT INTO restaurants VALUES (151, 'Restaurant_151', 'Chinese', 3.8);
INSERT INTO restaurants VALUES (152, 'Restaurant_152', 'Indian', 4.8);
INSERT INTO restaurants VALUES (153, 'Restaurant_153', 'Italian', 4.7);
INSERT INTO restaurants VALUES (154, 'Restaurant_154', 'Chinese', 4.7);
INSERT INTO restaurants VALUES (155, 'Restaurant_155', 'Mexican', 3.1);
INSERT INTO restaurants VALUES (156, 'Restaurant_156', 'Italian', 3.8);
INSERT INTO restaurants VALUES (157, 'Restaurant_157', 'Italian', 4.5);
INSERT INTO restaurants VALUES (158, 'Restaurant_158', 'Indian', 4.5);
INSERT INTO restaurants VALUES (159, 'Restaurant_159', 'Mexican', 4.9);
INSERT INTO restaurants VALUES (160, 'Restaurant_160', 'Chinese', 4.2);
INSERT INTO restaurants VALUES (161, 'Restaurant_161', 'Mexican', 3.8);
INSERT INTO restaurants VALUES (162, 'Restaurant_162', 'Italian', 3.3);
INSERT INTO restaurants VALUES (163, 'Restaurant_163', 'Italian', 4.2);
INSERT INTO restaurants VALUES (164, 'Restaurant_164', 'Italian', 3.5);
INSERT INTO restaurants VALUES (165, 'Restaurant_165', 'Mexican', 4.3);
INSERT INTO restaurants VALUES (166, 'Restaurant_166', 'Chinese', 4.6);
INSERT INTO restaurants VALUES (167, 'Restaurant_167', 'Italian', 4.7);
INSERT INTO restaurants VALUES (168, 'Restaurant_168', 'Indian', 3.7);
INSERT INTO restaurants VALUES (169, 'Restaurant_169', 'Italian', 4.2);
INSERT INTO restaurants VALUES (170, 'Restaurant_170', 'Mexican', 4.4);
INSERT INTO restaurants VALUES (171, 'Restaurant_171', 'Mexican', 3.6);
INSERT INTO restaurants VALUES (172, 'Restaurant_172', 'Italian', 3.9);
INSERT INTO restaurants VALUES (173, 'Restaurant_173', 'Chinese', 3.7);
INSERT INTO restaurants VALUES (174, 'Restaurant_174', 'Mexican', 3.1);
INSERT INTO restaurants VALUES (175, 'Restaurant_175', 'Chinese', 4.1);
INSERT INTO restaurants VALUES (176, 'Restaurant_176', 'Italian', 4.0);
INSERT INTO restaurants VALUES (177, 'Restaurant_177', 'Indian', 3.9);
INSERT INTO restaurants VALUES (178, 'Restaurant_178', 'Mexican', 3.1);
INSERT INTO restaurants VALUES (179, 'Restaurant_179', 'Italian', 3.5);
INSERT INTO restaurants VALUES (180, 'Restaurant_180', 'Chinese', 4.4);
INSERT INTO restaurants VALUES (181, 'Restaurant_181', 'Indian', 4.0);
INSERT INTO restaurants VALUES (182, 'Restaurant_182', 'Mexican', 4.8);
INSERT INTO restaurants VALUES (183, 'Restaurant_183', 'Chinese', 3.7);
INSERT INTO restaurants VALUES (184, 'Restaurant_184', 'Mexican', 3.5);
INSERT INTO restaurants VALUES (185, 'Restaurant_185', 'Mexican', 4.5);
INSERT INTO restaurants VALUES (186, 'Restaurant_186', 'Indian', 4.3);
INSERT INTO restaurants VALUES (187, 'Restaurant_187', 'Chinese', 3.8);
INSERT INTO restaurants VALUES (188, 'Restaurant_188', 'Chinese', 4.6);
INSERT INTO restaurants VALUES (189, 'Restaurant_189', 'Indian', 4.8);
INSERT INTO restaurants VALUES (190, 'Restaurant_190', 'Chinese', 3.1);
INSERT INTO restaurants VALUES (191, 'Restaurant_191', 'Indian', 4.0);
INSERT INTO restaurants VALUES (192, 'Restaurant_192', 'Italian', 4.3);
INSERT INTO restaurants VALUES (193, 'Restaurant_193', 'Chinese', 3.8);
INSERT INTO restaurants VALUES (194, 'Restaurant_194', 'Chinese', 3.8);
INSERT INTO restaurants VALUES (195, 'Restaurant_195', 'Indian', 3.4);
INSERT INTO restaurants VALUES (196, 'Restaurant_196', 'Italian', 5.0);
INSERT INTO restaurants VALUES (197, 'Restaurant_197', 'Mexican', 4.7);
INSERT INTO restaurants VALUES (198, 'Restaurant_198', 'Mexican', 4.1);
INSERT INTO restaurants VALUES (199, 'Restaurant_199', 'Italian', 3.4);
INSERT INTO restaurants VALUES (200, 'Restaurant_200', 'Chinese', 3.9);
INSERT INTO restaurants VALUES (201, 'Restaurant_201', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (202, 'Restaurant_202', 'Indian', 4.7);
INSERT INTO restaurants VALUES (203, 'Restaurant_203', 'Chinese', 3.8);
INSERT INTO restaurants VALUES (204, 'Restaurant_204', 'Mexican', 4.7);
INSERT INTO restaurants VALUES (205, 'Restaurant_205', 'Italian', 4.2);
INSERT INTO restaurants VALUES (206, 'Restaurant_206', 'Mexican', 3.2);
INSERT INTO restaurants VALUES (207, 'Restaurant_207', 'Italian', 3.3);
INSERT INTO restaurants VALUES (208, 'Restaurant_208', 'Mexican', 4.7);
INSERT INTO restaurants VALUES (209, 'Restaurant_209', 'Indian', 3.6);
INSERT INTO restaurants VALUES (210, 'Restaurant_210', 'Indian', 4.7);
INSERT INTO restaurants VALUES (211, 'Restaurant_211', 'Chinese', 3.1);
INSERT INTO restaurants VALUES (212, 'Restaurant_212', 'Indian', 3.2);
INSERT INTO restaurants VALUES (213, 'Restaurant_213', 'Indian', 3.7);
INSERT INTO restaurants VALUES (214, 'Restaurant_214', 'Chinese', 3.4);
INSERT INTO restaurants VALUES (215, 'Restaurant_215', 'Mexican', 4.4);
INSERT INTO restaurants VALUES (216, 'Restaurant_216', 'Italian', 3.1);
INSERT INTO restaurants VALUES (217, 'Restaurant_217', 'Indian', 4.8);
INSERT INTO restaurants VALUES (218, 'Restaurant_218', 'Indian', 4.1);
INSERT INTO restaurants VALUES (219, 'Restaurant_219', 'Mexican', 4.6);
INSERT INTO restaurants VALUES (220, 'Restaurant_220', 'Mexican', 3.2);
INSERT INTO restaurants VALUES (221, 'Restaurant_221', 'Chinese', 3.7);
INSERT INTO restaurants VALUES (222, 'Restaurant_222', 'Italian', 4.9);
INSERT INTO restaurants VALUES (223, 'Restaurant_223', 'Italian', 3.4);
INSERT INTO restaurants VALUES (224, 'Restaurant_224', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (225, 'Restaurant_225', 'Italian', 4.2);
INSERT INTO restaurants VALUES (226, 'Restaurant_226', 'Indian', 3.2);
INSERT INTO restaurants VALUES (227, 'Restaurant_227', 'Italian', 3.5);
INSERT INTO restaurants VALUES (228, 'Restaurant_228', 'Mexican', 4.1);
INSERT INTO restaurants VALUES (229, 'Restaurant_229', 'Italian', 3.8);
INSERT INTO restaurants VALUES (230, 'Restaurant_230', 'Chinese', 3.6);
INSERT INTO restaurants VALUES (231, 'Restaurant_231', 'Indian', 4.1);
INSERT INTO restaurants VALUES (232, 'Restaurant_232', 'Mexican', 4.0);
INSERT INTO restaurants VALUES (233, 'Restaurant_233', 'Italian', 4.5);
INSERT INTO restaurants VALUES (234, 'Restaurant_234', 'Chinese', 3.7);
INSERT INTO restaurants VALUES (235, 'Restaurant_235', 'Italian', 4.5);
INSERT INTO restaurants VALUES (236, 'Restaurant_236', 'Italian', 4.2);
INSERT INTO restaurants VALUES (237, 'Restaurant_237', 'Italian', 4.5);
INSERT INTO restaurants VALUES (238, 'Restaurant_238', 'Chinese', 4.7);
INSERT INTO restaurants VALUES (239, 'Restaurant_239', 'Indian', 4.9);
INSERT INTO restaurants VALUES (240, 'Restaurant_240', 'Indian', 3.8);
INSERT INTO restaurants VALUES (241, 'Restaurant_241', 'Chinese', 3.9);
INSERT INTO restaurants VALUES (242, 'Restaurant_242', 'Mexican', 4.0);
INSERT INTO restaurants VALUES (243, 'Restaurant_243', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (244, 'Restaurant_244', 'Italian', 4.3);
INSERT INTO restaurants VALUES (245, 'Restaurant_245', 'Mexican', 3.5);
INSERT INTO restaurants VALUES (246, 'Restaurant_246', 'Mexican', 3.9);
INSERT INTO restaurants VALUES (247, 'Restaurant_247', 'Mexican', 3.2);
INSERT INTO restaurants VALUES (248, 'Restaurant_248', 'Italian', 3.0);
INSERT INTO restaurants VALUES (249, 'Restaurant_249', 'Italian', 4.7);
INSERT INTO restaurants VALUES (250, 'Restaurant_250', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (251, 'Restaurant_251', 'Chinese', 3.9);
INSERT INTO restaurants VALUES (252, 'Restaurant_252', 'Indian', 3.7);
INSERT INTO restaurants VALUES (253, 'Restaurant_253', 'Italian', 4.6);
INSERT INTO restaurants VALUES (254, 'Restaurant_254', 'Indian', 4.7);
INSERT INTO restaurants VALUES (255, 'Restaurant_255', 'Mexican', 3.1);
INSERT INTO restaurants VALUES (256, 'Restaurant_256', 'Italian', 3.1);
INSERT INTO restaurants VALUES (257, 'Restaurant_257', 'Italian', 3.4);
INSERT INTO restaurants VALUES (258, 'Restaurant_258', 'Indian', 3.0);
INSERT INTO restaurants VALUES (259, 'Restaurant_259', 'Mexican', 3.7);
INSERT INTO restaurants VALUES (260, 'Restaurant_260', 'Indian', 4.0);
INSERT INTO restaurants VALUES (261, 'Restaurant_261', 'Italian', 3.5);
INSERT INTO restaurants VALUES (262, 'Restaurant_262', 'Chinese', 4.9);
INSERT INTO restaurants VALUES (263, 'Restaurant_263', 'Indian', 4.4);
INSERT INTO restaurants VALUES (264, 'Restaurant_264', 'Indian', 4.3);
INSERT INTO restaurants VALUES (265, 'Restaurant_265', 'Chinese', 4.2);
INSERT INTO restaurants VALUES (266, 'Restaurant_266', 'Italian', 3.9);
INSERT INTO restaurants VALUES (267, 'Restaurant_267', 'Chinese', 4.2);
INSERT INTO restaurants VALUES (268, 'Restaurant_268', 'Indian', 3.8);
INSERT INTO restaurants VALUES (269, 'Restaurant_269', 'Indian', 3.5);
INSERT INTO restaurants VALUES (270, 'Restaurant_270', 'Mexican', 3.8);
INSERT INTO restaurants VALUES (271, 'Restaurant_271', 'Chinese', 3.8);
INSERT INTO restaurants VALUES (272, 'Restaurant_272', 'Indian', 4.8);
INSERT INTO restaurants VALUES (273, 'Restaurant_273', 'Indian', 3.9);
INSERT INTO restaurants VALUES (274, 'Restaurant_274', 'Mexican', 3.3);
INSERT INTO restaurants VALUES (275, 'Restaurant_275', 'Italian', 3.8);
INSERT INTO restaurants VALUES (276, 'Restaurant_276', 'Italian', 3.4);
INSERT INTO restaurants VALUES (277, 'Restaurant_277', 'Mexican', 3.3);
INSERT INTO restaurants VALUES (278, 'Restaurant_278', 'Indian', 3.5);
INSERT INTO restaurants VALUES (279, 'Restaurant_279', 'Italian', 4.9);
INSERT INTO restaurants VALUES (280, 'Restaurant_280', 'Chinese', 3.7);
INSERT INTO restaurants VALUES (281, 'Restaurant_281', 'Italian', 3.8);
INSERT INTO restaurants VALUES (282, 'Restaurant_282', 'Indian', 4.4);
INSERT INTO restaurants VALUES (283, 'Restaurant_283', 'Chinese', 4.6);
INSERT INTO restaurants VALUES (284, 'Restaurant_284', 'Indian', 4.7);
INSERT INTO restaurants VALUES (285, 'Restaurant_285', 'Mexican', 4.8);
INSERT INTO restaurants VALUES (286, 'Restaurant_286', 'Italian', 5.0);
INSERT INTO restaurants VALUES (287, 'Restaurant_287', 'Chinese', 4.7);
INSERT INTO restaurants VALUES (288, 'Restaurant_288', 'Mexican', 4.4);
INSERT INTO restaurants VALUES (289, 'Restaurant_289', 'Italian', 4.8);
INSERT INTO restaurants VALUES (290, 'Restaurant_290', 'Chinese', 4.9);
INSERT INTO restaurants VALUES (291, 'Restaurant_291', 'Mexican', 4.3);
INSERT INTO restaurants VALUES (292, 'Restaurant_292', 'Mexican', 4.0);
INSERT INTO restaurants VALUES (293, 'Restaurant_293', 'Italian', 3.0);
INSERT INTO restaurants VALUES (294, 'Restaurant_294', 'Italian', 3.1);
INSERT INTO restaurants VALUES (295, 'Restaurant_295', 'Chinese', 3.1);
INSERT INTO restaurants VALUES (296, 'Restaurant_296', 'Italian', 3.8);
INSERT INTO restaurants VALUES (297, 'Restaurant_297', 'Italian', 4.8);
INSERT INTO restaurants VALUES (298, 'Restaurant_298', 'Mexican', 5.0);
INSERT INTO restaurants VALUES (299, 'Restaurant_299', 'Mexican', 3.2);
INSERT INTO restaurants VALUES (300, 'Restaurant_300', 'Italian', 4.1);
INSERT INTO restaurants VALUES (301, 'Restaurant_301', 'Italian', 4.8);
INSERT INTO restaurants VALUES (302, 'Restaurant_302', 'Mexican', 4.9);
INSERT INTO restaurants VALUES (303, 'Restaurant_303', 'Mexican', 3.2);
INSERT INTO restaurants VALUES (304, 'Restaurant_304', 'Italian', 4.1);
INSERT INTO restaurants VALUES (305, 'Restaurant_305', 'Indian', 4.6);
INSERT INTO restaurants VALUES (306, 'Restaurant_306', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (307, 'Restaurant_307', 'Mexican', 3.8);
INSERT INTO restaurants VALUES (308, 'Restaurant_308', 'Italian', 4.3);
INSERT INTO restaurants VALUES (309, 'Restaurant_309', 'Indian', 4.5);
INSERT INTO restaurants VALUES (310, 'Restaurant_310', 'Indian', 4.1);
INSERT INTO restaurants VALUES (311, 'Restaurant_311', 'Italian', 4.7);
INSERT INTO restaurants VALUES (312, 'Restaurant_312', 'Chinese', 3.1);
INSERT INTO restaurants VALUES (313, 'Restaurant_313', 'Indian', 3.9);
INSERT INTO restaurants VALUES (314, 'Restaurant_314', 'Indian', 4.1);
INSERT INTO restaurants VALUES (315, 'Restaurant_315', 'Mexican', 4.7);
INSERT INTO restaurants VALUES (316, 'Restaurant_316', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (317, 'Restaurant_317', 'Mexican', 3.5);
INSERT INTO restaurants VALUES (318, 'Restaurant_318', 'Indian', 3.7);
INSERT INTO restaurants VALUES (319, 'Restaurant_319', 'Indian', 3.1);
INSERT INTO restaurants VALUES (320, 'Restaurant_320', 'Italian', 4.1);
INSERT INTO restaurants VALUES (321, 'Restaurant_321', 'Chinese', 4.7);
INSERT INTO restaurants VALUES (322, 'Restaurant_322', 'Italian', 4.3);
INSERT INTO restaurants VALUES (323, 'Restaurant_323', 'Mexican', 4.6);
INSERT INTO restaurants VALUES (324, 'Restaurant_324', 'Mexican', 4.5);
INSERT INTO restaurants VALUES (325, 'Restaurant_325', 'Italian', 4.5);
INSERT INTO restaurants VALUES (326, 'Restaurant_326', 'Italian', 4.8);
INSERT INTO restaurants VALUES (327, 'Restaurant_327', 'Indian', 3.2);
INSERT INTO restaurants VALUES (328, 'Restaurant_328', 'Mexican', 4.6);
INSERT INTO restaurants VALUES (329, 'Restaurant_329', 'Chinese', 3.3);
INSERT INTO restaurants VALUES (330, 'Restaurant_330', 'Italian', 3.9);
INSERT INTO restaurants VALUES (331, 'Restaurant_331', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (332, 'Restaurant_332', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (333, 'Restaurant_333', 'Chinese', 3.1);
INSERT INTO restaurants VALUES (334, 'Restaurant_334', 'Indian', 4.0);
INSERT INTO restaurants VALUES (335, 'Restaurant_335', 'Italian', 3.9);
INSERT INTO restaurants VALUES (336, 'Restaurant_336', 'Mexican', 4.9);
INSERT INTO restaurants VALUES (337, 'Restaurant_337', 'Mexican', 4.5);
INSERT INTO restaurants VALUES (338, 'Restaurant_338', 'Mexican', 4.5);
INSERT INTO restaurants VALUES (339, 'Restaurant_339', 'Indian', 3.1);
INSERT INTO restaurants VALUES (340, 'Restaurant_340', 'Chinese', 4.9);
INSERT INTO restaurants VALUES (341, 'Restaurant_341', 'Chinese', 3.2);
INSERT INTO restaurants VALUES (342, 'Restaurant_342', 'Mexican', 4.1);
INSERT INTO restaurants VALUES (343, 'Restaurant_343', 'Mexican', 4.4);
INSERT INTO restaurants VALUES (344, 'Restaurant_344', 'Indian', 4.8);
INSERT INTO restaurants VALUES (345, 'Restaurant_345', 'Chinese', 4.3);
INSERT INTO restaurants VALUES (346, 'Restaurant_346', 'Indian', 4.5);
INSERT INTO restaurants VALUES (347, 'Restaurant_347', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (348, 'Restaurant_348', 'Italian', 3.0);
INSERT INTO restaurants VALUES (349, 'Restaurant_349', 'Indian', 4.5);
INSERT INTO restaurants VALUES (350, 'Restaurant_350', 'Mexican', 3.2);
INSERT INTO restaurants VALUES (351, 'Restaurant_351', 'Mexican', 4.2);
INSERT INTO restaurants VALUES (352, 'Restaurant_352', 'Italian', 4.7);
INSERT INTO restaurants VALUES (353, 'Restaurant_353', 'Indian', 4.8);
INSERT INTO restaurants VALUES (354, 'Restaurant_354', 'Indian', 3.8);
INSERT INTO restaurants VALUES (355, 'Restaurant_355', 'Indian', 4.2);
INSERT INTO restaurants VALUES (356, 'Restaurant_356', 'Indian', 4.2);
INSERT INTO restaurants VALUES (357, 'Restaurant_357', 'Italian', 3.8);
INSERT INTO restaurants VALUES (358, 'Restaurant_358', 'Indian', 5.0);
INSERT INTO restaurants VALUES (359, 'Restaurant_359', 'Mexican', 4.8);
INSERT INTO restaurants VALUES (360, 'Restaurant_360', 'Indian', 4.8);
INSERT INTO restaurants VALUES (361, 'Restaurant_361', 'Indian', 4.5);
INSERT INTO restaurants VALUES (362, 'Restaurant_362', 'Indian', 4.1);
INSERT INTO restaurants VALUES (363, 'Restaurant_363', 'Italian', 4.9);
INSERT INTO restaurants VALUES (364, 'Restaurant_364', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (365, 'Restaurant_365', 'Italian', 3.6);
INSERT INTO restaurants VALUES (366, 'Restaurant_366', 'Indian', 4.5);
INSERT INTO restaurants VALUES (367, 'Restaurant_367', 'Indian', 4.6);
INSERT INTO restaurants VALUES (368, 'Restaurant_368', 'Indian', 4.4);
INSERT INTO restaurants VALUES (369, 'Restaurant_369', 'Italian', 3.0);
INSERT INTO restaurants VALUES (370, 'Restaurant_370', 'Chinese', 4.4);
INSERT INTO restaurants VALUES (371, 'Restaurant_371', 'Chinese', 3.1);
INSERT INTO restaurants VALUES (372, 'Restaurant_372', 'Italian', 4.4);
INSERT INTO restaurants VALUES (373, 'Restaurant_373', 'Indian', 3.6);
INSERT INTO restaurants VALUES (374, 'Restaurant_374', 'Mexican', 3.6);
INSERT INTO restaurants VALUES (375, 'Restaurant_375', 'Chinese', 4.3);
INSERT INTO restaurants VALUES (376, 'Restaurant_376', 'Indian', 3.4);
INSERT INTO restaurants VALUES (377, 'Restaurant_377', 'Mexican', 4.0);
INSERT INTO restaurants VALUES (378, 'Restaurant_378', 'Italian', 4.4);
INSERT INTO restaurants VALUES (379, 'Restaurant_379', 'Mexican', 4.1);
INSERT INTO restaurants VALUES (380, 'Restaurant_380', 'Italian', 4.6);
INSERT INTO restaurants VALUES (381, 'Restaurant_381', 'Italian', 4.6);
INSERT INTO restaurants VALUES (382, 'Restaurant_382', 'Mexican', 4.8);
INSERT INTO restaurants VALUES (383, 'Restaurant_383', 'Indian', 3.1);
INSERT INTO restaurants VALUES (384, 'Restaurant_384', 'Mexican', 4.6);
INSERT INTO restaurants VALUES (385, 'Restaurant_385', 'Chinese', 4.4);
INSERT INTO restaurants VALUES (386, 'Restaurant_386', 'Italian', 4.3);
INSERT INTO restaurants VALUES (387, 'Restaurant_387', 'Mexican', 3.8);
INSERT INTO restaurants VALUES (388, 'Restaurant_388', 'Indian', 3.9);
INSERT INTO restaurants VALUES (389, 'Restaurant_389', 'Italian', 4.9);
INSERT INTO restaurants VALUES (390, 'Restaurant_390', 'Mexican', 4.7);
INSERT INTO restaurants VALUES (391, 'Restaurant_391', 'Indian', 3.3);
INSERT INTO restaurants VALUES (392, 'Restaurant_392', 'Italian', 3.3);
INSERT INTO restaurants VALUES (393, 'Restaurant_393', 'Italian', 4.1);
INSERT INTO restaurants VALUES (394, 'Restaurant_394', 'Mexican', 3.5);
INSERT INTO restaurants VALUES (395, 'Restaurant_395', 'Mexican', 4.0);
INSERT INTO restaurants VALUES (396, 'Restaurant_396', 'Mexican', 4.8);
INSERT INTO restaurants VALUES (397, 'Restaurant_397', 'Indian', 4.8);
INSERT INTO restaurants VALUES (398, 'Restaurant_398', 'Indian', 3.0);
INSERT INTO restaurants VALUES (399, 'Restaurant_399', 'Chinese', 3.2);
INSERT INTO restaurants VALUES (400, 'Restaurant_400', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (401, 'Restaurant_401', 'Indian', 4.6);
INSERT INTO restaurants VALUES (402, 'Restaurant_402', 'Mexican', 3.3);
INSERT INTO restaurants VALUES (403, 'Restaurant_403', 'Indian', 3.6);
INSERT INTO restaurants VALUES (404, 'Restaurant_404', 'Indian', 3.8);
INSERT INTO restaurants VALUES (405, 'Restaurant_405', 'Indian', 4.8);
INSERT INTO restaurants VALUES (406, 'Restaurant_406', 'Chinese', 4.5);
INSERT INTO restaurants VALUES (407, 'Restaurant_407', 'Mexican', 4.6);
INSERT INTO restaurants VALUES (408, 'Restaurant_408', 'Mexican', 3.0);
INSERT INTO restaurants VALUES (409, 'Restaurant_409', 'Mexican', 3.5);
INSERT INTO restaurants VALUES (410, 'Restaurant_410', 'Italian', 3.6);
INSERT INTO restaurants VALUES (411, 'Restaurant_411', 'Indian', 4.3);
INSERT INTO restaurants VALUES (412, 'Restaurant_412', 'Mexican', 4.0);
INSERT INTO restaurants VALUES (413, 'Restaurant_413', 'Italian', 3.3);
INSERT INTO restaurants VALUES (414, 'Restaurant_414', 'Chinese', 4.7);
INSERT INTO restaurants VALUES (415, 'Restaurant_415', 'Indian', 3.2);
INSERT INTO restaurants VALUES (416, 'Restaurant_416', 'Chinese', 4.6);
INSERT INTO restaurants VALUES (417, 'Restaurant_417', 'Mexican', 3.0);
INSERT INTO restaurants VALUES (418, 'Restaurant_418', 'Chinese', 3.3);
INSERT INTO restaurants VALUES (419, 'Restaurant_419', 'Chinese', 3.6);
INSERT INTO restaurants VALUES (420, 'Restaurant_420', 'Italian', 4.0);
INSERT INTO restaurants VALUES (421, 'Restaurant_421', 'Indian', 3.0);
INSERT INTO restaurants VALUES (422, 'Restaurant_422', 'Mexican', 3.0);
INSERT INTO restaurants VALUES (423, 'Restaurant_423', 'Indian', 3.2);
INSERT INTO restaurants VALUES (424, 'Restaurant_424', 'Indian', 4.7);
INSERT INTO restaurants VALUES (425, 'Restaurant_425', 'Chinese', 4.2);
INSERT INTO restaurants VALUES (426, 'Restaurant_426', 'Chinese', 3.5);
INSERT INTO restaurants VALUES (427, 'Restaurant_427', 'Indian', 3.6);
INSERT INTO restaurants VALUES (428, 'Restaurant_428', 'Mexican', 4.8);
INSERT INTO restaurants VALUES (429, 'Restaurant_429', 'Chinese', 4.3);
INSERT INTO restaurants VALUES (430, 'Restaurant_430', 'Mexican', 4.1);
INSERT INTO restaurants VALUES (431, 'Restaurant_431', 'Mexican', 4.6);
INSERT INTO restaurants VALUES (432, 'Restaurant_432', 'Mexican', 5.0);
INSERT INTO restaurants VALUES (433, 'Restaurant_433', 'Italian', 3.2);
INSERT INTO restaurants VALUES (434, 'Restaurant_434', 'Italian', 4.7);
INSERT INTO restaurants VALUES (435, 'Restaurant_435', 'Italian', 3.1);
INSERT INTO restaurants VALUES (436, 'Restaurant_436', 'Mexican', 4.6);
INSERT INTO restaurants VALUES (437, 'Restaurant_437', 'Indian', 3.3);
INSERT INTO restaurants VALUES (438, 'Restaurant_438', 'Italian', 3.2);
INSERT INTO restaurants VALUES (439, 'Restaurant_439', 'Mexican', 3.1);
INSERT INTO restaurants VALUES (440, 'Restaurant_440', 'Mexican', 3.8);
INSERT INTO restaurants VALUES (441, 'Restaurant_441', 'Indian', 3.4);
INSERT INTO restaurants VALUES (442, 'Restaurant_442', 'Italian', 3.7);
INSERT INTO restaurants VALUES (443, 'Restaurant_443', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (444, 'Restaurant_444', 'Chinese', 4.7);
INSERT INTO restaurants VALUES (445, 'Restaurant_445', 'Indian', 4.3);
INSERT INTO restaurants VALUES (446, 'Restaurant_446', 'Indian', 4.9);
INSERT INTO restaurants VALUES (447, 'Restaurant_447', 'Chinese', 3.2);
INSERT INTO restaurants VALUES (448, 'Restaurant_448', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (449, 'Restaurant_449', 'Indian', 4.5);
INSERT INTO restaurants VALUES (450, 'Restaurant_450', 'Mexican', 3.2);
INSERT INTO restaurants VALUES (451, 'Restaurant_451', 'Chinese', 3.7);
INSERT INTO restaurants VALUES (452, 'Restaurant_452', 'Chinese', 4.4);
INSERT INTO restaurants VALUES (453, 'Restaurant_453', 'Chinese', 3.7);
INSERT INTO restaurants VALUES (454, 'Restaurant_454', 'Italian', 4.5);
INSERT INTO restaurants VALUES (455, 'Restaurant_455', 'Chinese', 3.8);
INSERT INTO restaurants VALUES (456, 'Restaurant_456', 'Chinese', 4.2);
INSERT INTO restaurants VALUES (457, 'Restaurant_457', 'Indian', 3.0);
INSERT INTO restaurants VALUES (458, 'Restaurant_458', 'Italian', 4.8);
INSERT INTO restaurants VALUES (459, 'Restaurant_459', 'Italian', 4.6);
INSERT INTO restaurants VALUES (460, 'Restaurant_460', 'Chinese', 4.5);
INSERT INTO restaurants VALUES (461, 'Restaurant_461', 'Italian', 4.6);
INSERT INTO restaurants VALUES (462, 'Restaurant_462', 'Italian', 3.1);
INSERT INTO restaurants VALUES (463, 'Restaurant_463', 'Chinese', 3.2);
INSERT INTO restaurants VALUES (464, 'Restaurant_464', 'Italian', 3.3);
INSERT INTO restaurants VALUES (465, 'Restaurant_465', 'Italian', 4.9);
INSERT INTO restaurants VALUES (466, 'Restaurant_466', 'Italian', 4.9);
INSERT INTO restaurants VALUES (467, 'Restaurant_467', 'Italian', 3.3);
INSERT INTO restaurants VALUES (468, 'Restaurant_468', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (469, 'Restaurant_469', 'Italian', 3.3);
INSERT INTO restaurants VALUES (470, 'Restaurant_470', 'Italian', 3.6);
INSERT INTO restaurants VALUES (471, 'Restaurant_471', 'Indian', 3.0);
INSERT INTO restaurants VALUES (472, 'Restaurant_472', 'Chinese', 4.3);
INSERT INTO restaurants VALUES (473, 'Restaurant_473', 'Italian', 4.5);
INSERT INTO restaurants VALUES (474, 'Restaurant_474', 'Mexican', 3.5);
INSERT INTO restaurants VALUES (475, 'Restaurant_475', 'Italian', 4.9);
INSERT INTO restaurants VALUES (476, 'Restaurant_476', 'Mexican', 3.4);
INSERT INTO restaurants VALUES (477, 'Restaurant_477', 'Indian', 4.1);
INSERT INTO restaurants VALUES (478, 'Restaurant_478', 'Chinese', 3.1);
INSERT INTO restaurants VALUES (479, 'Restaurant_479', 'Indian', 3.8);
INSERT INTO restaurants VALUES (480, 'Restaurant_480', 'Chinese', 4.0);
INSERT INTO restaurants VALUES (481, 'Restaurant_481', 'Indian', 4.2);
INSERT INTO restaurants VALUES (482, 'Restaurant_482', 'Chinese', 4.5);
INSERT INTO restaurants VALUES (483, 'Restaurant_483', 'Chinese', 4.5);
INSERT INTO restaurants VALUES (484, 'Restaurant_484', 'Mexican', 4.2);
INSERT INTO restaurants VALUES (485, 'Restaurant_485', 'Mexican', 4.9);
INSERT INTO restaurants VALUES (486, 'Restaurant_486', 'Italian', 4.1);
INSERT INTO restaurants VALUES (487, 'Restaurant_487', 'Chinese', 4.8);
INSERT INTO restaurants VALUES (488, 'Restaurant_488', 'Chinese', 4.1);
INSERT INTO restaurants VALUES (489, 'Restaurant_489', 'Italian', 3.0);
INSERT INTO restaurants VALUES (490, 'Restaurant_490', 'Italian', 3.7);
INSERT INTO restaurants VALUES (491, 'Restaurant_491', 'Chinese', 3.0);
INSERT INTO restaurants VALUES (492, 'Restaurant_492', 'Italian', 4.0);
INSERT INTO restaurants VALUES (493, 'Restaurant_493', 'Mexican', 4.2);
INSERT INTO restaurants VALUES (494, 'Restaurant_494', 'Mexican', 4.3);
INSERT INTO restaurants VALUES (495, 'Restaurant_495', 'Italian', 4.5);
INSERT INTO restaurants VALUES (496, 'Restaurant_496', 'Indian', 3.1);
INSERT INTO restaurants VALUES (497, 'Restaurant_497', 'Mexican', 4.4);
INSERT INTO restaurants VALUES (498, 'Restaurant_498', 'Chinese', 3.9);
INSERT INTO restaurants VALUES (499, 'Restaurant_499', 'Mexican', 4.9);
INSERT INTO restaurants VALUES (500, 'Restaurant_500', 'Chinese', 3.2);
"""

In [35]:
cursor.executescript(sql_script)
conn.commit()

In [36]:
pd.read_sql(
    "SELECT name FROM sqlite_master WHERE type='table';",
    conn
)

          name
0  restaurants

In [37]:
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
print(restaurants.head())

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [39]:
orders.head()
users.head()
restaurants.head()

   restaurant_id restaurant_name  cuisine  rating
0              1    Restaurant_1  Chinese     4.8
1              2    Restaurant_2   Indian     4.1
2              3    Restaurant_3  Mexican     4.3
3              4    Restaurant_4  Chinese     4.1
4              5    Restaurant_5  Chinese     4.8

In [40]:
merged_df = orders.merge(users, on="user_id", how="left")

In [41]:
final_df = merged_df.merge(restaurants, on="restaurant_id", how="left")

In [42]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [44]:
final_df[final_df["membership"]=="Gold"] \
.groupby("city")["total_amount"].sum().idxmax()

'Chennai'

In [45]:
final_df.groupby("cuisine")["total_amount"].mean().idxmax()

'Mexican'

In [48]:
final_df.groupby("user_id")["total_amount"].sum().gt(1000).sum()

np.int64(2544)

In [49]:
bins = [3.0,3.5,4.0,4.5,5.0]
final_df["rating_range"] = pd.cut(final_df["rating"], bins)

final_df.groupby("rating_range")["total_amount"].sum().idxmax()

/tmp/ipython-input-1427346429.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  final_df.groupby("rating_range")["total_amount"].sum().idxmax()

Interval(4.5, 5.0, closed='right')

In [53]:
final_df[final_df["membership"]=="Gold"] \
.groupby("city")["total_amount"].mean().idxmax()

'Chennai'

In [54]:
final_df.groupby("cuisine")["restaurant_id"].nunique()
final_df.groupby("cuisine")["total_amount"].sum()

cuisine
Chinese    1930504.65
Indian     1971412.58
Italian    2024203.80
Mexican    2085503.09
Name: total_amount, dtype: float64

In [56]:
gold_pct = (final_df["membership"]=="Gold").mean()*100
round(gold_pct)

50

In [86]:
conn = sqlite3.connect("restaurants_clean.db")
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)
print("Restaurants columns:", restaurants.columns)

merged_df = orders.merge(users, on="user_id", how="left")
final_df = merged_df.merge(restaurants, on="restaurant_id", how="left")
print("Final_df columns:", final_df.columns)

restaurant_stats = final_df.groupby("restaurant_name_y").agg(
    avg_order=("total_amount","mean"),
    order_count=("order_id","count")
)

restaurant_stats[restaurant_stats["order_count"]<20] \
.sort_values("avg_order", ascending=False).head(1)

Restaurants columns: Index(['restaurant_id', 'restaurant_name', 'cuisine', 'rating'], dtype='object')
Final_df columns: Index(['order_id', 'user_id', 'restaurant_id', 'order_date', 'total_amount',
       'restaurant_name_x', 'name', 'city', 'membership', 'restaurant_name_y',
       'cuisine', 'rating'],
      dtype='object')

                     avg_order  order_count
restaurant_name_y
Restaurant_294     1040.222308           13

In [62]:
restaurant_stats = final_df.groupby("name").agg(
    avg_order=("total_amount","mean"),
    order_count=("order_id","count")
)

restaurant_stats[restaurant_stats["order_count"]<20] \
.sort_values("avg_order", ascending=False).head(1)

           avg_order  order_count
name
User_2429    1497.42            1

In [64]:
final_df.groupby(["membership","cuisine"])["total_amount"].sum().idxmax()

('Regular', 'Mexican')

In [65]:
final_df["order_date"] = pd.to_datetime(final_df["order_date"])
final_df["quarter"] = final_df["order_date"].dt.to_period("Q")

final_df.groupby("quarter")["total_amount"].sum().idxmax()

/tmp/ipython-input-4130657531.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  final_df["order_date"] = pd.to_datetime(final_df["order_date"])

Period('2023Q3', 'Q-DEC')

In [67]:
gold_orders_count = final_df[final_df["membership"] == "Gold"].shape[0]
gold_orders_count

4987

In [68]:
hyderabad_revenue = final_df[final_df["city"] == "Hyderabad"]["total_amount"].sum()
round(hyderabad_revenue)

1889367

In [69]:
distinct_users = final_df["user_id"].nunique()
distinct_users

2883

In [71]:
gold_aov = final_df[final_df["membership"] == "Gold"]["total_amount"].mean()
round(gold_aov, 2)

np.float64(797.15)

In [72]:
high_rating_orders = final_df[final_df["rating"] >= 4.5].shape[0]
high_rating_orders

3374

In [74]:
top_city = (
    final_df[final_df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

top_city

'Chennai'

In [78]:
gold_aov = final_df[final_df["membership"] == "Gold"]["total_amount"].mean()
round(gold_aov, 2)

np.float64(797.15)

In [76]:
hyderabad_revenue = final_df[final_df["city"] == "Hyderabad"]["total_amount"].sum()
round(hyderabad_revenue)

1889367

In [79]:
high_rating_orders = final_df[final_df["rating"] >= 4.5].shape[0]
high_rating_orders

3374

In [81]:
top_city = (
    final_df[final_df["membership"] == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

top_city

'Chennai'

In [83]:
orders_top_city = final_df[
    (final_df["membership"] == "Gold") &
    (final_df["city"] == top_city)
].shape[0]

orders_top_city

1337